{% block js_routing %}
    <div id="xact-js-routing-data" data-routing-data="{{ render(controller('Xact\\JSRoutingBundle\\Controller\\RoutingController::routingData'))|raw|e('html_attr') }}" ></div>
{% endblock %}
